
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic',sans-serif;
}



.title{
    text-shadow: 1px;
    font-size: 5em;
    letter-spacing: 4px;
    font-weight: 50;
}


.carte:hover{
    background-color: rgb(86, 153, 220);
    transition:.10s ease;
    color: white;
    
}
.carte{
    margin-top: 10px;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: whitesmoke;
}
a{
    text-decoration: none;
}

/* .acc{
    background-image: url('../images/main.jpg') ;
    background-size: cover;
    background-position: center center;
    backface-visibility: hidden;
    width: 100%;
    height: 400px;
} */

.acc {
    position: relative; 
    height: 400px;
    width: 100%;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 118, 173);
}

.loha {
    position: relative; 
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loha::before {    
      content: "";
      background-image: url('../images/ventebanner.png') ;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
}
